@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    font-family: "Zen Maru Gothic", sans-serif;
    color: #505050;
  }
  h1 {
    font-weight: bold;
  }
}
.toggle-nav-label * {
  transform: translateY(0) rotate(0);
  transition: 200ms;
}

.peer:checked ~ .toggle-nav-label *:first-child {
  transform: translateY(6px) rotate(210deg);
}
.peer:checked ~ .toggle-nav-label *:last-child {
  transform: translateY(-6px) rotate(330deg);
}